.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.About {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.AboutTitle {
  display: flex;
  justify-content: flex-start;
}
.faceImage {
  height: 300px;
  width: 300px;
}
.active {
  display: inline;
  background-color: lightcyan;
}
.contactPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contactForm button {
  background-color: rgb(39, 114, 107);
  border-radius: 4px;
  display: flex;
  margin-left: 40px;
}
.bottomScreen {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  margin-top: auto;
}
.footer {
  color: #282c34;
  justify-content: flex-start;
  position: relative;
  top: 200px;
  display: block;
}
.headings {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0%
}

.navLinks {
  color: darkgrey;
  display: inline;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px;
  border-radius: 3px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.navLinks:hover {
  background-color: white;
}
a:link {
  text-decoration: none;
}
body {
  background-color: rgb(189, 212, 232);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background-image:linear-gradient(to right, rgb(39,114,107), rgb(10,90,30));
}
h2, h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.myName {
  color: darkgrey;
  display: flex;
  position: relative;
  top: 90px;
  font-size: 36px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.portfolioPics {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 10px 10px;
  background-size: 100%;
  min-height: 250px;
  max-height: 500px;
}
.projectsPlural {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 10px 10px;
  background-size: 100%;
  min-height: 250px;
  max-height: 500px;
}
.projTitle {
  position: relative;
  color: grey;

}
.project1:hover {
  color: aliceblue;
}
.resumeParent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.resume {
  display: flex;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
